In [13]:
import numpy as np
import pandas as pd

In [14]:
# Set the random seed for reproducibility 

np.random.seed(123)

# create a dataframe with two classes

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [15]:
n_class_0, n_class_1

(900, 100)

In [21]:
# Create DataFrame with imbalance dataset
class_0 = pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=0, scale =1, size =n_class_0),
        'feature_2':np.random.normal(loc=0, scale=1, size = n_class_0),
        'target': [0] * n_class_0
    }
)

class_1 = pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=2, scale=1, size=n_class_1),
        'feature_2':np.random.normal(loc=2, scale=1, size=n_class_1),
        'target': [1] * n_class_1
    }
)

In [22]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [23]:
df.tail()

     feature_1  feature_2  target
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

In [25]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [26]:
# Upsampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [28]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority,replace=True, # Sample with replacement
         n_samples=len(df_majority),
         random_state=42)

In [29]:
df_minority_upsampled.shape

(900, 3)

In [31]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.905343   1.495151       1
992   2.000977   1.814833       1
914   1.927957   2.280911       1
971   2.819483   2.964646       1
960   2.456515   1.833528       1

In [ ]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [34]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [36]:
# Down Sampling

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [37]:
# Create DataFrame with imbalance dataset
class_0 = pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=0, scale =1, size =n_class_0),
        'feature_2':np.random.normal(loc=0, scale=1, size = n_class_0),
        'target': [0] * n_class_0
    }
)

class_1 = pd.DataFrame(
    {
        'feature_1':np.random.normal(loc=2, scale=1, size=n_class_1),
        'feature_2':np.random.normal(loc=2, scale=1, size=n_class_1),
        'target': [1] * n_class_1
    }
)

In [38]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -0.471276   0.328462       0
1   1.084072   1.038230       0
2  -0.379223   1.147064       0
3  -0.362274   0.638254       0
4  -0.681071  -1.075766       0

In [39]:
df.tail()

     feature_1  feature_2  target
995   2.720690   1.978489       1
996   1.949078   3.709793       1
997   2.709784   3.324917       1
998   1.817689   1.549237       1
999   2.838910   2.240773       1

In [ ]:
# Down Sampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [40]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_majority, replace = False,
                                   n_samples = len(df_minority),
                                   random_state=42)

In [41]:
df_majority_downsampled.shape

(100, 3)

In [46]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [47]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64